[submodule "lib/haxe-jsfl/haxe-jsfl"]
	path = lib/haxe-jsfl/haxe-jsfl
	url = git@github.com:tmskst/haxe-jsfl.git
[submodule "lib/haxe-cep/haxe-cep"]
	path = lib/haxe-cep/haxe-cep
	url = git@github.com:tmskst/haxe-cep.git
