package ::PACKAGE::;

import flatomo.display.Animation;

@:enum abstract ::CLASS_NAME::SectionName(String) to String {
	::foreach SECTIONS::
	var ::NAME:: = "::NAME::";
	::end::
}

@:access(flatomo.display.Animation)
abstract ::CLASS_NAME::(Animation) to Animation {
	
	public static inline var Key:String = '::KEY::';
	
	public function new(content:Container) {
		this = content;
	}
	
	public var api(get, never):Container;
	private function get_api():Container {
		return cast this;
	}
	
}
